.jwac.ms-ROMAN .pm-inspiredText, .jwac.ms-ROMAN .scrp, .jwac.ms-ROMAN p.themeScrp {
    font-family: WTClearText; 
    src: url("https://b.jw-cdn.org/fonts/wt-clear-text/1.022/Wt-ClearText-MediumItalic.woff2") format("woff2"), url("https://b.jw-cdn.org/fonts/wt-clear-text/1.022/Wt-ClearText-MediumItalic.woff") format("woff"), url("https://b.jw-cdn.org/fonts/wt-clear-text/1.022/Wt-ClearText-MediumItalic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 500; 
    font-display: swap;  
}

.jwac.ms-ROMAN, .ms-ROMAN {
font-family: NotoSans; 
src: url("https://b.jw-cdn.org/fonts/noto-sans/2.007-edcd458/hinted/NotoSans-Regular.woff2") format("woff2"), url("https://b.jw-cdn.org/fonts/noto-sans/2.007-edcd458/hinted/NotoSans-Regular.woff") format("woff"), url("https://b.jw-cdn.org/fonts/noto-sans/2.007-edcd458/hinted/NotoSans-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: 400; 
font-display: swap; 
}